$color-primary: #2F5948;
$color-secondary: #2E3F46;
$color-accent: #DEAE2D;

$color-white: #FFFFFF;
$color-light-grey: #DFDFDF;
$color-dark-grey: #707070;
$color-black: #333333;

$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Fira Sans', sans-serif;
