@use "../abstracts/variables" as *;

.background {
  background-color: $color-light-grey;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  .circle {
    width: 76vh;
    height: 76vh;
    border-radius: 50%;
    position: absolute;

    &.primary {
      background-color: $color-primary;
      left: -50vh;
      top: 6vh;
      display: none;

      @media screen and (min-width: 1124px) {
        display: initial;
      }
    }

    &.accent {
      background-color: $color-accent;
      right: -50vh;
      bottom: -18vh;
    }
  }
}
